@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-title-h1);
  text-align: center;
  margin-bottom: 10px;
  width: 80%;
  padding-bottom: 20px;
}

hr {
  background-color: var(--main-title-underline);
  border-top: 3px solid var(--main-title-underline);
}

label {
  margin-bottom: 2px;
  font-size: large;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #519069;
  font-size: large;
}

.main-container {
  overflow-y: hidden;
  display: flex;
  height: 100%;
  width: auto;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  border: 2px solid var(--main-container-border);
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.btn-validate {
  margin-bottom: 25px;
  width: 230px;
  border-radius: 20px;
  color: var(--btn-validate-text-color);
  border: 2px solid var(--btn-validate-border-color);
  background-color: var(--btn-validate-color);
  font-size: 30px;
  cursor: pointer;
}

.btn-reset {
  margin-bottom: 25px;
  width: 230px;
  border-radius: 20px;
  color: var(--btn-reset-text-color);
  border: 2px solid var(--btn-reset-border-color);
  background-color: var(--btn-reset-color);
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  h1 {
    font-size: x-large;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 10px;
  }
 }